<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <div th:replace="mainpages/layout/mainhead :: head">...</div>

    <body ng-app="userApp"  ng-controller="UsersCntrl as ctrl">

        <div id="wrapper">

            <!-- Navigation -->
            <div th:replace="mainpages/layout/mainheader :: header">...</div>
            <div th:replace="mainpages/layout/mainmenu :: menu">...</div>

            <div id="page-wrapper" >
                <!-- /.row -->
                <div class="row">
                    &nbsp;
                </div>
                <div class="row" >

                    <div class="col-lg-12">
                        <a href="javascript:void();" class="pull-left" data-toggle="modal" ng-click="addUser()" data-target=".add-user" title="Add User">
                            <span class="btn btn-info"><i class="fa fa-user-plus"></i></span>
                        </a>
                        <a href="javascript:void();" class="pull-right search-icon"  title="Download Users">
                            <i class="fa fa-download nrml"></i> 
                        </a>
                        <a href="javascript:void();" class="pull-right search-icon" data-toggle="modal" data-target=".filter" title="Filter">
                            <i class="fa fa-filter nrml"></i>&emsp;
                        </a>
                    </div>
                    <div class="col-lg-12 table-responsive">
                        <table class="table table-striped table-bordered">
                            
                            <thead>
                                <tr>
                                    <th>S.NO</th>
                                    <th width="13%">USERNAME</th>
                                    <th width="13%">CONTACT DETAILS</th>
                                    <th width="13%">OTHER DETAILS</th>
                                    <th>CREATED BY</th>
                                    <th>CREATED ON</th>
                                    <th width="13%">CREDIT DETAILS</th>
                                    <th>SETTINGS</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat='user in users.content| filter:search'>
                                <tr ng-if='client == activeClient'>
                                    <td align="center"> {{$index + 1}}</td>
                                    <td class="text-xs-center">{{ user.username}}</td>
                                    <td>
                                        <span id="mobile">{{ user.mobilenumber}}</span><br/>
                                        <span id="emailid">{{ user.emailid}}</span>
                                    </td>
                                    <td>
                                        USERTYPE:<span id="mobile"  ng-if="user.usertype === 3">RESELLER</span><span id="mobile"  ng-if="user.usertype === 4">CLIENT</span><br/>
                                        ROUTE :<span id="emailid">{{ user.smppid.systemid}}</span>
                                    </td>
                                    <td class="text-xs-center">{{ user.createdBy}}</td>

                                    <td class="text-xs-center"> {{user.usercreateddate| date:'MM/dd/yyyy h:mma'}}</td>
                                    <td class="text-xs-center">
                                        <!--                                 Assign : <span id="assign"> </span><br/>
                                                                         Used   :<span id="used"></span><br/>-->
                                        TOTAL :<span id="remain"></span>{{ user.userCreditsDto.credits}}&emsp;<a href="javascript:void(0);" tabindex="0" role="button" data-toggle="popover" data-placement="left" data-trigger="focus" title="Credit Summary" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fa fa-info pull-right"></i></a> <br/>
                                        USED :<span id="remain"></span>{{ user.userCreditsDto.usedCredits}}&emsp;<br/>
                                        BALANCE :<span id="remain"></span>{{ user.userCreditsDto.remainingCredits}}&emsp;

                                    </td>
                                    <td align="center">
                                        <a href="javascript:void(0);" ng-click="editUser(user)" data-toggle="modal" data-target=".add-user" class="btn btn-primary btn-xs" title="Edit User"><i class="fa fa-edit"></i></a> &emsp;
                                        <!-- <a href="javascript:void(0);" ng-click="editUser(user)" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-edit"></i></a> &emsp; -->
                                        <a href="javascript:void(0);" data-toggle="modal" ng-click="addCredits(user)" data-target=".credits" class="btn btn-success btn-xs"><i class="fa fa-envelope"></i></a> &emsp; 
                                        <!--<a href="javascript:void(0);"  data-toggle="modal" data-target=".download-data" title="Active User" class="btn btn-info btn-xs"><i class="fa fa-user-circle"></i></a>&emsp;--> 
                                        <!--<a href="javascript:void(0);" tabindex="0" role="button" data-toggle="popover" data-placement="left" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?" class="btn btn-primary btn-xs"><i class="fa fa-info"></i></a> &emsp;--> 
                                        <a href="javascript:void();" data-toggle="modal" data-target=".delete" class="btn btn-danger btn-xs" title="Delete User"><i class="fa fa-trash"></i></a> &emsp;
                                        <!--a href="javascript:void();" class="text-grey" data-toggle="modal" data-target=".download-data" title="Inactive User"><i class="fa fa-user-circle"></i></a-->
                                    </td>
                                </tr>


                            </tbody>
                        </table>

                    </div>
                    <pager total-items="users.totalElements"  ng-model="currentPage" ng-change="pageChanged()" items-per-page="users.numberOfElements"></pager>

                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- Model -->
        <div class="modal fade filter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Filter</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-xs-2 padd-sm">
                            <label>Status</label>
                            <select class="search-form">
                                <option>All</option>
                                <option>Waiting</option>
                                <option>Completed</option>
                                <option>Process</option>
                            </select>
                        </div>
                        <div class="col-xs-2 padd-sm">
                            <label>Filter by</label>
                            <select class="search-form" id="filterby">
                                <option>All</option>
                                <option value="scheduledate">Schedule Date</option>
                                <option>Created Date</option>
                                <option value="senderid">Sender ID</option>
                            </select>
                        </div>
                        <div class="col-sm-6 no-padd" id="datas">
                            <div class="col-xs-12 no-padd" id="scheduledate">
                                <div class="col-xs-6 padd-sm">
                                    <label>Start Date</label><input type="" placeholder="" class="search-form" id="start-date"/></div>
                                <div class="col-xs-6 padd-sm">
                                    <label>End Date</label><input type="" placeholder="" class="search-form" id="end-date"/></div>
                            </div>
                            <div class="col-xs-6 padd-sm" id="senderid" style="display:none;">
                                <label>Search Value</label><input type="" placeholder="" class="search-form" id="start-date"/></div>
                        </div>
                        <div class="col-sm-2 padd-sm">
                            <label>&nbsp;</label>
                            <button class="btn btn-success col-sm-12"><i class="fa fa-search"></i> Find</button>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade download-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Filter</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-xs-12" align="center"><br/>
                            <h4>Do you want to download</h4>
                            <button class="btn btn-success col-sm-3 col-sm-offset-2">Yes</button>
                            <button class="btn btn-danger col-sm-3 col-sm-offset-2">No</button>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade credits" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close add-credits-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Credits</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-xs-12"><br/>
                            <label>User Name: {{credits.userDetail.username}}</label>
                            <div class="clearfix"></div><br/>
                            <input type="radio" name="add" ng-model="credits.type" value="Add"/> Add &emsp;
                            <input type="radio" name="delete" ng-model="credits.type" value="Delete"/> Delete
                            <div class="clearfix"></div><br/>
                            <div class="col-sm-12 no-padd" id="add">
                                <div class="col-sm-4 padd-sm"><label>Credits</label></div><div class="col-sm-8 padd-sm">
                                	<input type="text" ng-model="credits.smscount" class="search-form"/>
                                </div>
                                <div class="clearfix"></div><br/>
                                <div class="col-sm-4 padd-sm"><label>Price</label></div><div class="col-sm-8 padd-sm">
                                	<input type="text" ng-model="credits.price" class="search-form"/>
                                </div>
                                <div class="clearfix"></div><br/>
                                <div class="col-sm-4 padd-sm"><label>Description</label></div><div class="col-sm-8 padd-sm">
                                	<textarea rows="4"  ng-model="credits.description" class="col-sm-12"></textarea>
                                </div>
                                <div class="clearfix"></div><br/>
                                <button class="btn btn-success pull-right" ng-click="submitCredits()">Submit</button>
                            </div>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade add-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close add-user-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add User</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-lg-12">
                            <div class="clearfix"></div><br/>
                            <span style="color:red">{{$scope.errors}}</span>
                            <div class="clearfix"></div><br/>
                        </div>
                        <div class="col-lg-12">
                            <div class="clearfix"></div><br/>
                            <div class="col-sm-4"><input type="text" ng-model="user.username" class="form-control" placeholder="Full Name"/><br/></div>
                            <div class="col-sm-8"><input type="text" ng-model="user.emailid" class="form-control" placeholder="Email"/><br/></div>
                            <div class="col-sm-4">
                                <select class="form-control" name="user.usertype" ng-model="user.usertype"
                                        ng-options="usertype.typesno as usertype.usertype for usertype in usertypes">
                                    <option value="" label="">Please Select</option>
                                </select>
                                <br/>
                            </div>
                            <div class="col-sm-4">

                                <select class="form-control" name="user.smssendtype" ng-model="user.smssendtype"
                                        ng-options="smssendtype.id as smssendtype.value for smssendtype in smssendtypes">
                                    <option value="" label="">Please Select</option>
                                </select>
                                <!-- <select ng-model="user.smssendtype" class="form-control">
                                        <option value = "0" selected="true">Select Type</option>
                                        <option value="1">Information</option>
                                        <option value="2">Promotional</option>
                                </select><br/> -->
                                <br/>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="user.smppid.id" ng-model="user.smppid.id"
                                        ng-options="smppid.id as smppid.systemid for smppid in smppIDs">
                                    <option value="" label="">Please Select</option>
                                </select>
                                <br/>
                                <!-- <select ng-model="user.smppid" class="form-control">
                                        <option>Select SMPPID</option><option>1</option>
                                        <option>2</option>
                                </select><br/> -->
                            </div>

                            <div class="col-sm-4"><input type="text" ng-model="user.mobilenumber"  class="form-control" placeholder="Mobile"/><br/></div>
                            <div class="col-sm-4"><input type="text" ng-model="user.loginid" class="form-control" placeholder="User Name"/><br/></div>
                             <div class="col-sm-4"><input type="text" ng-model="user.password" class="form-control" placeholder="Password"/><br/></div> 
                            <!-- <div class="col-sm-4"><select ng-model="user.password" class="form-control"><option>Select Category</option><option>Information</option><option>Promotional</option></select><br/></div>
                            <div class="col-sm-4"><input type="text" ng-model="user.username" class="form-control" placeholder="No.Of Credits"/><br/></div>
                            <div class="col-sm-4"><input type="text" ng-model="user.username" class="form-control" placeholder="Per Day Limit"/><br/></div> -->
                            <div class="clearfix"></div>
                            <div class="col-sm-6"><input ng-model="iagree" type="checkbox"/> I agree <a href="">Terms and Conditions</a><br/></div>
                            <div class="col-sm-6"><button class="btn btn-primary btn-sm col-sm-12 col-xs-12" ng-click="create('Save', user)"><i class="fa fa-user-plus"></i> Add User</button><br/></div>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delivery Report</h4>
                    </div>
                    <div class="modal-body">

                        <div class="col-lg-12 table-responsive table-scroll">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.NO</th>
                                        <th>MOBILE</th>
                                        <th>MESSAGE</th>
                                        <th>SENDERID</th>
                                        <th width="13%">SUBMITED ON</th>
                                        <th width="13%">DELIVERED ON</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center">1</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">2</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">3</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">4</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">5</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">6</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">7</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">8</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">9</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">10</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">11</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">12</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">13</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">14</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>

                                    <tr>
                                        <td align="center">15</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>
                                        <td align="center">Completed</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->



    </body>

    <div th:replace="mainpages/layout/mainfooter :: footer">...</div>
    <script th:src="@{/mainpages/js/user/userapp.js}"></script>
</html>

