<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <div th:replace="mainpages/layout/mainhead :: head">...</div>

    <body ng-app="groupApp" ng-controller="GroupsCntrl as ctrl">

        <div id="wrapper">

            <!-- Navigation -->
            <div th:replace="mainpages/layout/mainheader :: header">...</div>
            <div th:replace="mainpages/layout/mainmenu :: menu">...</div>

            <div id="page-wrapper" >
                <!-- /.row -->
                <div class="row">
                    &nbsp;
                </div>
                <div class="row" >

                    <div class="col-lg-12">
                        <a href="javascript:void();" class="pull-left search-icon" data-toggle="modal" ng-click="addGroup()" data-target=".add-group" title="Add Group">
                            <span class="btn"><i class="fa fa-user-plus"></i></span>
                        </a>
                        <a href="javascript:void();" class="pull-right search-icon" title="Download Groups">
                            <i class="fa fa-download nrml"></i> 
                        </a>
                        <a href="javascript:void();" class="pull-right search-icon" data-toggle="modal" data-target=".filter" title="Filter">
                            <i class="fa fa-filter nrml"></i>&emsp;
                        </a>

                    </div>
                    <div class="col-lg-12 table-responsive table-scroll">
                        <table class="table table-striped table-bordered"  >
                            <thead>
                                <tr>
                                    <th width="5%">S.NO</th>
                                    <th width="12%">Group Name</th>
                                    <th width="10%">Count</th>
                                    <th width="10%">CREATED BY</th>
                                    <th width="10%">CREATED ON</th>
                                    <th width="13%">SETTINGS</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat='group in groups.content| filter:search'>
                                <tr ng-if='client == activeClient'>
                                    <td align="center"> {{$index + 1}}</td>
                                    <td class="text-xs-center">{{  group.groupname}}</td>
                                    <td class="text-xs-center">{{  group.contactsCount}}</td>
                                    <td class="text-xs-center">{{ group.users.username}}</td>
                                    <td class="text-xs-center">{{group.createddate| date:'MM/dd/yyyy h:mma'}}</td>
                                    <td align="center">
                                        <a href="javascript:void(0);" data-toggle="modal" ng-click="editGroup(group)" data-target=".add-group" class="btn btn-primary btn-xs" title="Edit Group"><i class="fa fa-edit"></i></a> &emsp;
                                        <a href="javascript:void();" data-toggle="modal" ng-click="addContact(group.groupsno)" data-target=".add-group-contact" class="btn btn-info btn-xs" title="Add Contact"><i class="fa fa-plus"></i></a> &emsp;
                                        <a href="javascript:void();" data-toggle="modal" ng-click="addContact(group.groupsno)" data-target=".upload-contact" class="btn btn-success btn-xs" title="Upload Contacts"><i class="fa fa-upload"></i></a> &emsp;
                                        <a href="javascript:void();" data-toggle="modal" ng-click="loadContacts(group.groupsno)" data-target=".show-contact" class=" btn btn-warning btn-xs" title="View Contacts"><i class="fa fa-eye"></i></a> &emsp;
                                        <a href="javascript:void();" data-toggle="modal" ng-click="deleteGroup(group.groupsno)" data-target=".delete" class="btn btn-danger btn-xs" title="Delete Group"><i class="fa fa-trash"></i></a> &emsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pager total-items="groups.totalElements"  ng-model="currentPage" ng-change="pageChanged()" items-per-page="groups.numberOfElements"></pager>
                    </div>


                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- Model -->
        <div class="modal fade add-group" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close add-group-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Group</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-lg-12">
                            <div class="clearfix"></div><br/>
                            <span style="color:red">{{$scope.errors}}</span>
                            <div class="clearfix"></div><br/>
                        </div>
                        <div class="col-lg-12">
                            <div class="clearfix"></div><br/>
                            <div class="col-sm-4"><input type="text" ng-model="group.groupname" class="form-control" placeholder="ENTER GROUP"/><br/></div>

                            <div class="clearfix"></div>
                            <div class="col-sm-6"><input ng-model="iagree" type="checkbox"/> I agree <a href="">Terms and Conditions</a><br/></div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6"><button class="btn btn-primary btn-sm col-sm-12 col-xs-12" ng-click="create('Save', group)"><i class="fa fa-user-plus"></i> Add Group</button><br/></div>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade add-group-contact" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close add-group-contact-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Contact</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-lg-12">
                            <div class="clearfix"></div><br/>
                            <span style="color:red">{{$scope.errors}}</span>
                            <div class="clearfix"></div><br/>
                        </div>
                        <div class="col-lg-12">
                            <div class="clearfix"></div><br/>
                            <div class="col-sm-4"><input type="text" ng-model="contact.contactName" class="form-control" placeholder="CONTACT NAME"/><br/></div>
                            <div class="clearfix"></div>
                            <div class="col-sm-4"><input type="text" ng-model="contact.msisdn" class="form-control" placeholder="CONTACT MOBILENUMBER"/><br/></div>
                            <div class="clearfix"></div>
                            <div class="col-sm-4"><input type="text" ng-model="contact.mailID" class="form-control" placeholder="CONTACT EMAILID"/><br/></div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6"><input ng-model="iagree" type="checkbox"/> I agree <a href="">Terms and Conditions</a><br/></div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6"><button class="btn btn-primary btn-sm col-sm-12 col-xs-12" ng-click="createContact('Save')"><i class="fa fa-user-plus"></i> Add Contact</button><br/></div>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade filter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Filter</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-xs-2 padd-sm">
                            <label>Status</label>
                            <select class="search-form">
                                <option>All</option>
                                <option>Waiting</option>
                                <option>Completed</option>
                                <option>Process</option>
                            </select>
                        </div>
                        <div class="col-xs-2 padd-sm">
                            <label>Filter by</label>
                            <select class="search-form" id="filterby">
                                <option>All</option>
                                <option value="scheduledate">Schedule Date</option>
                                <option>Created Date</option>
                                <option value="senderid">Sender ID</option>
                            </select>
                        </div>
                        <div class="col-sm-6 no-padd" id="datas">
                            <div class="col-xs-12 no-padd" id="scheduledate">
                                <div class="col-xs-6 padd-sm">
                                    <label>Start Date</label><input type="" placeholder="" class="search-form" id="start-date"/></div>
                                <div class="col-xs-6 padd-sm">
                                    <label>End Date</label><input type="" placeholder="" class="search-form" id="end-date"/></div>
                            </div>
                            <div class="col-xs-6 padd-sm" id="senderid" style="display:none;">
                                <label>Search Value</label><input type="" placeholder="" class="search-form" id="start-date"/></div>
                        </div>
                        <div class="col-sm-2 padd-sm">
                            <label>&nbsp;</label>
                            <button class="btn btn-success col-sm-12"><i class="fa fa-search"></i> Find</button>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade download-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Filter</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-xs-12" align="center"><br/>
                            <h4>Do you want to download</h4>
                            <button class="btn btn-success col-sm-3 col-sm-offset-2">Yes</button>
                            <button class="btn btn-danger col-sm-3 col-sm-offset-2">No</button>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade credits" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Credits</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-xs-12"><br/>
                            <label>User Name: Suresh</label>
                            <div class="clearfix"></div><br/>
                            <input type="radio" name="add"/> Add &emsp;
                            <input type="radio" name="delete"/> Delete
                            <div class="clearfix"></div><br/>
                            <div class="col-sm-12 no-padd" id="add">
                                <div class="col-sm-4 padd-sm"><label>Credits</label></div><div class="col-sm-8 padd-sm"><input type="text" class="search-form"/></div>
                                <div class="clearfix"></div><br/>
                                <div class="col-sm-4 padd-sm"><label>Price</label></div><div class="col-sm-8 padd-sm"><input type="text" class="search-form"/></div>
                                <div class="clearfix"></div><br/>
                                <div class="col-sm-4 padd-sm"><label>Desp</label></div><div class="col-sm-8 padd-sm"><textarea rows="4" class="col-sm-12"></textarea></div>
                                <div class="clearfix"></div><br/>
                                <button class="btn btn-success pull-right">Submit</button>
                            </div>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade show-contact" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Contacts</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-lg-12 table-responsive table-scroll">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.NO</th>
                                        <th>CONTACTNAME</th>
                                        <th>MOBILENUMBER</th>
                                        <!--<th>EMAILID</th>-->
                                        <th>CREATEDON</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="contact in groupContacts| filter:search">
                                        <td align="center">{{$index+1}}</td>
                                        <td align="left">{{contact.contactName}}</td>
                                        <td align="left">{{contact.msisdn}}</td>
                                        <!--<td>{{contact.mailID}}</td>-->
                                        <td align="left">{{contact.createdOn| date:'MM/dd/yyyy h:mma'}}</td>
                                        

                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade upload-contact" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close upload-contact-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Contacts</h4>
                    </div>
                    <div class="model-body">
                        <div class="col-lg-12 ">
                            <div class="form-group">
								<img src="../images/upload-files.jpg" width="80"/>
								<!-- <label>File input</label> -->
								<label for="customfile">Select file</label>
								<input type="file" class="upload-file" name="customfile" ng-file-select="customfile" file-model="customfile"  id="customfile"/>
								<p style="margin-bottom: 0; margin-top: 10px; color:#ccc;" class="text-primary">XLS/CSV Files Only</p>
								<button class="btn btn-default btn-sm" id="upload-file" ng-click="uploadContacts()"><i class="fa fa-paper-plane"></i> Submit</button>
							</div>
                        </div>
                        <div class="clearfix"></div><br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delivery Report</h4>
                    </div>
                    <div class="modal-body">

                        <div class="col-lg-12 table-responsive table-scroll">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.NO</th>
                                        <th>MOBILE</th>
                                        <th>MESSAGE</th>
                                        <th>SENDERID</th>
                                        <th width="13%">SUBMITED ON</th>
                                        <th width="13%">DELIVERED ON</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center">1</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">2</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">3</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">4</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">5</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">6</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">7</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">8</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">9</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">10</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">11</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">12</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">13</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">14</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>

                                    <tr>
                                        <td align="center">15</td>
                                        <td align="center">16-06-17</td>
                                        <td align="center">12-06-17</td>
                                        <td>AD DISCUSSED YESTERDAY, WE MUST DO...</td>
                                        <td align="center">125</td>
                                        <td align="center">CATCH</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model -->



    </body>

    <div th:replace="mainpages/layout/mainfooter :: footer">...</div>
    <script th:src="@{/mainpages/js/groups/groupsapp.js}"></script>
</html>

