<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="head" >
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SMS-PANEL</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/mainpages/vendor/bootstrap/css/bootstrap.min.css}" href="../../../../../mainpages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/mainpages/vendor/metisMenu/metisMenu.min.css}" href="../../../../../mainpages/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"/>


    <!-- Custom CSS -->
    <link th:href="@{/mainpages/dist/css/sb-admin-2.css}" href="../../../../../mainpages/dist/css/sb-admin-2.css" rel="stylesheet"/>


  <!--  	<link type="text/css" href="../date/jquery.simple-dtpicker.css" rel="stylesheet" /> -->

    <!-- Custom Fonts -->
    <link th:href="@{/mainpages/vendor/font-awesome/css/font-awesome.min.css}" href="../../../../../mainpages/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

    <link th:href="@{/mainpages/dist/css/style.css}" href="../../../../../mainpages/dist/css/style.css" rel="stylesheet"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    
	<script th:src="@{/mainpages/vendor/moment.js}" src="../../../../../mainpages/vendor/moment.js"></script>    
	<script th:src="@{/mainpages/js/ui-bootstrap-tpls-0.13.3.js}" src="../../../../../mainpages/js/ui-bootstrap-tpls-0.13.3.js"></script>
	
	<link rel="stylesheet" th:href="@{/mainpages/js/block-ui/angular-block-ui.min.css}" href="../../../../../mainpages/js/block-ui/angular-block-ui.min.css"/>
	
	<link th:href="@{/mainpages/vendor/bootstrap/css/angular-dropdownMultiselect.css}" href="../../../../../mainpages/vendor/bootstrap/css/angular-dropdownMultiselect.css" rel="stylesheet"/>
	
	
  </head>
</div>
