<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="footer"  class="main-bg container-fluid">
    <!-- Start of the footer  -->
    <footer>

    </footer>
    <script th:src="@{/loginpages/js/jquery.js}" src="../../../../loginpages/js/jquery.js"></script>
    <script th:src="@{/loginpages/js/bootstrap.js}" src="../../../../loginpages/js/bootstrap.js"></script>
    
    <script th:src="@{/loginpages/js/bootstrap.js}" src="../../../../loginpages/js/bootstrap.js"></script>

    <!-- End of the footer  -->
</div>